.c-toast
  display flex
  flex-direction: row
  align-items center
  justify-content center
  animation-duration 150ms
  margin 0.5em 0
  border-radius 0em
  pointer-events auto
  color #fff
  min-height 3em
  width 100%
  cursor pointer
  font-family: 'TheAncient', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding 0.5em 2em
  z-index 30
  word-break break-word
  transition: all 0.5s ease
