/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white_soft: #f8f8f8;
  --white_mute: #f2f2f2;

  --black: #181818;
  --black_soft: #222222;
  --black_mute: #282828;

  --indigo: #2c3e50;

  --nipigasColorMainv2: rgb(0, 49, 60);
  --nipigasColorMain: rgb(0, 140, 149);
  --nipigasColorMain-hover: rgb(1, 102, 109);
  --nipigasColorAdditional: #f05a28;
  --nipigasColorAdditional-hover: rgba(211, 99, 91, 0.7);
  --textColorBlack: #002d3a;
  --textColorBlack-hover: #001b22;
  --textColorWhite: rgb(255, 255, 255);
  --filterColor: rgb(0, 141, 252);
  --filterColor-hover: rgb(2, 115, 201);

  --contentPadding: calc((100vw - 1326px) * 0.5);
  --timelineItemWidth: calc((100vw - var(--contentPadding) * 2) / 6);
  --timelineGap: 10px;

  --newsSliderItemWidth: 1326px;
  --newsSliderGap: 5vw;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
}

*:not(.cropper *),
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0.1vw 0.1vw 0.1vw -0.1vw rgba(34, 60, 80, 0.2) inset;
  background-color: #efeeee;
  border-radius: 0.1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 0vw;
  background: #d9d9d9;
}
body {
  min-height: 100vh;
  color: var(--white);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1440px) {
  :root {
    --timelineItemWidth: 200px;
    --contentPadding: calc((100vw - 90vw) * 0.5);
    --newsSliderItemWidth: 90vw;
  }
}
